#preload-01 { background: url(https://notendur.hi.is/~tap4/projects/pong/img/pattern.png) no-repeat -9999px -9999px; }


body{
	background-image:url("https://notendur.hi.is/~tap4/projects/pong/img/pattern.png");
	text-align: center;
}

canvas{
	background-color: white;
	margin-top: 20px;
}

h1{
	text-align: center;
	margin: 0;
	position: relative;
}

.jumbotron{
	background-color: black;
	color: white;
	height: 100px;
	padding: 0;
}

#resetButton{
	display: none;
	width: 130px;
	margin: 10px auto 0px auto;
}
#startButton{
	display: block;
	width: 130px;
	margin: 10px auto 0px auto;
}


